# Byte-compiled / optimized / DLL files
__pycache__
[!ref]*.out
tests/**/report.txt
tests/**/verslag.run
dfastmi_results.nc
report.txt
dfastmi.build
dfastmi.dist
test.*
.idea
docs/**/*.aux
docs/**/*.mtc
docs/**/*.mtc0
docs/**/*.log
docs/**/*.maf
docs/**/*.nlo
docs/**/*.pdf
docs/**/*.toc
